In [78]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [79]:
df = pd.read_csv("data-vn.csv")
df

       Khu vực  Số người  Thu nhập  Chi tiêu  Chi ăn uống
0    Thành thị         1     186.0      71.2         43.7
1    Thành thị         1      18.0      19.2         14.7
2    Thành thị         1      61.5      15.0         11.9
3    Thành thị         1      48.1      57.9         46.9
4    Thành thị         1      30.0      20.6         13.7
..         ...       ...       ...       ...          ...
415  Nông thôn         8     153.4     104.1         84.8
416  Nông thôn         8     348.5     167.3        100.2
417  Nông thôn         8     220.6     106.9         80.6
418  Nông thôn         9     232.1     173.0        126.6
419  Nông thôn         9     137.6     167.1        155.2

[420 rows x 5 columns]

In [80]:
df.rename(columns={"Chi tiêu": "chi_tieu", "Thu nhập": "thu_nhap"}, inplace = True)
df

       Khu vực  Số người  thu_nhap  chi_tieu  Chi ăn uống
0    Thành thị         1     186.0      71.2         43.7
1    Thành thị         1      18.0      19.2         14.7
2    Thành thị         1      61.5      15.0         11.9
3    Thành thị         1      48.1      57.9         46.9
4    Thành thị         1      30.0      20.6         13.7
..         ...       ...       ...       ...          ...
415  Nông thôn         8     153.4     104.1         84.8
416  Nông thôn         8     348.5     167.3        100.2
417  Nông thôn         8     220.6     106.9         80.6
418  Nông thôn         9     232.1     173.0        126.6
419  Nông thôn         9     137.6     167.1        155.2

[420 rows x 5 columns]

In [81]:
df = df.iloc[:, lambda df:[2, 3] ]
df.dropna()

     thu_nhap  chi_tieu
0       186.0      71.2
1        18.0      19.2
2        61.5      15.0
3        48.1      57.9
4        30.0      20.6
..        ...       ...
415     153.4     104.1
416     348.5     167.3
417     220.6     106.9
418     232.1     173.0
419     137.6     167.1

[420 rows x 2 columns]

In [82]:

chi_tieu =  df['chi_tieu'].to_list
thu_nhap = df['thu_nhap'].to_list

In [83]:
# adding the constant term
chi_tieu2 = sm.add_constant(chi_tieu)
 
# performing the regression
# and fitting the model
result = sm.OLS(thu_nhap, chi_tieu2).fit()
 
# printing the summary table
print(result.summary())

TypeError: unsupported operand type(s) for -: 'method' and 'method'