In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [2]:
df = pd.read_csv("data-vn.csv")
df

       Khu vực  Số người  Thu nhập  Chi tiêu  Chi ăn uống
0    Thành thị         1     186.0      71.2         43.7
1    Thành thị         1      18.0      19.2         14.7
2    Thành thị         1      61.5      15.0         11.9
3    Thành thị         1      48.1      57.9         46.9
4    Thành thị         1      30.0      20.6         13.7
..         ...       ...       ...       ...          ...
415  Nông thôn         8     153.4     104.1         84.8
416  Nông thôn         8     348.5     167.3        100.2
417  Nông thôn         8     220.6     106.9         80.6
418  Nông thôn         9     232.1     173.0        126.6
419  Nông thôn         9     137.6     167.1        155.2

[420 rows x 5 columns]